<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ url_for('.static', filename='asset/mdui/css/mdui.min.css') }}">
    <script src="{{ url_for('.static', filename='asset/mdui/js/mdui.min.js') }}"></script>
    <title>1nfinite-Admin</title>

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/font-icon-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.default.css') }}" id="theme-stylesheet">
</head>
<body class="mdui-theme-layout-dark mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-loaded mdui-drawer-body-left"
      style="margin-top: 20px;">

<header class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
    <div class="mdui-toolbar mdui-color-indigo">
        <span class="mdui-btn mdui-btn-icon " mdui-drawer="{target: '#main-drawer', swipe: true}"><i
                class="mdui-icon material-icons">menu</i></span>
        <i class="mdui-icon material-icons">vpn_key</i>
        <a href="javascript:;" class="mdui-typo-headline">1nfinite-管理员页面</a>
        <!-- <a href="javascript:;" class="mdui-typo-title">动态</a> -->
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-textfield mdui-textfield-expandable">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i>
            </button>
            <input class="mdui-textfield-input" type="text" placeholder="Search"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i>
            </button>
        </div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">person</i></a>
    </div>
</header>

<!-- 侧边栏 -->
<div class="mdui-drawer" id="main-drawer">

    <div class="mdui-list">
        <a class="mdui-list-item mdui-ripple" href="/web">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">home</i>
            <div class="mdui-list-item-content">返回首页</div>
        </a>
        <a class="mdui-list-item mdui-ripple" href="../">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">view_quilt</i>
            <div class="mdui-list-item-content">后台总览</div>
        </a>

           <a class="mdui-list-item mdui-ripple" href="../visitor">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">assignment_turned_in</i>
            <div class="mdui-list-item-content">访客记录</div>
       </a>
        <a class="mdui-list-item mdui-ripple" href="../user">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">assignment_ind</i>
            <div class="mdui-list-item-content">用户管理</div>
       </a>
        <a class="mdui-list-item mdui-ripple" href="../channel">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">keyboard_voice</i>
            <div class="mdui-list-item-content">频道管理</div>
       </a>
        <a class="mdui-list-item mdui-ripple mdui-list-item-active">
            <i class="mdui-list-item-icon mdui-icon material-icons ">chat_bubble</i>
            <div class="mdui-list-item-content">话题管理</div>
       </a>
        <a class="mdui-list-item mdui-ripple" href="../game">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">videogame_asset</i>
            <div class="mdui-list-item-content">游戏公墓</div>
       </a>
    </div>
</div>

<div class="mdui-container">
<h4>话题管理</h4>

</div>
    <!--图标 Javascript -->
    <script src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/front.js') }}"></script>

    <!--Core Javascript -->
    <script src="{{ url_for('.static', filename='js/chart-page.js') }}"></script>




<script>

</script>
</body>
</html>