<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ url_for('.static', filename='asset/mdui/css/mdui.min.css') }}">
    <script src="{{ url_for('.static', filename='asset/mdui/js/mdui.min.js') }}"></script>
    <title>1finite</title>
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-loaded mdui-drawer-body-left"
      style="margin-top: 20px;">

<header class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
    <div class="mdui-toolbar mdui-color-indigo">
        <span class="mdui-btn mdui-btn-icon " mdui-drawer="{target: '#main-drawer', swipe: true}"><i
                class="mdui-icon material-icons">menu</i></span>
        <a href="javascript:;" class="mdui-typo-headline">1finite</a>
        <!-- <a href="javascript:;" class="mdui-typo-title">动态</a> -->
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-textfield mdui-textfield-expandable">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i>
            </button>
            <input class="mdui-textfield-input" type="text" placeholder="Search"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i>
            </button>
        </div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">account_circle</i></a>
    </div>
</header>

<!-- 侧边栏 -->
<div class="mdui-drawer" id="main-drawer">
{#     <div class="mdui-grid-tile">#}
{#        <a><img src="{{ url_for('.static', filename='asset/chisec/avator.jpg') }}"/></a>#}
{#        <div class="mdui-grid-tile-actions">#}
{#            <div class="mdui-grid-tile-text">#}
{#                <div class="mdui-grid-tile-title">游客</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <ul class="mdui-list">
        <li class="mdui-list-item mdui-ripple mdui-list-item-active">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple">all_inclusive</i>
            <div class="mdui-list-item-content">动态</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">explore</i>
            <div class="mdui-list-item-content">发现</div>
        </li>
    </ul>
</div>

<div class="mdui-container">


    <!-- 悬浮按钮 -->
    <div class="mdui-fab-wrapper" id="fab" mdui-fab="{trigger: 'hover'}">
        <button class="mdui-fab mdui-ripple mdui-color-pink-accent">
            <i class="mdui-icon material-icons">add</i>
            <i class="mdui-icon mdui-fab-opened material-icons">mode_edit</i>
        </button>
        <div class="mdui-fab-dial">

            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-red">
                <i class="mdui-icon material-icons">bookmark</i>
            </button>

            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-blue">
                <i class="mdui-icon material-icons">touch_app</i>
            </button>
        </div>
    </div>

    <div class="mc-login mdui-dialog" style="top: 155px; display: block; height: 540px;">
        <button class="mdui-btn mdui-btn-icon mdui-text-color-white close"><i class="mdui-icon material-icons">close</i>
        </button>
        <div class="mdui-dialog-title mdui-color-indigo">登录</div>
        <form>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-textfield-has-bottom mdui-textfield-invalid-html5">
                <label class="mdui-textfield-label">用户名或邮箱</label><input class="mdui-textfield-input" name="name"
                                                                         type="text" required="">
                <div class="mdui-textfield-error">账号不能为空</div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label mdui-textfield-has-bottom"><label
                    class="mdui-textfield-label">密码</label><input class="mdui-textfield-input" name="password"
                                                                  type="password" required="">
                <div class="mdui-textfield-error">密码不能为空</div>
            </div>
            <div class="actions mdui-clearfix">
                <button class="mdui-btn mdui-ripple more-option" type="button"
                        mdui-menu="{target: '#mc-login-menu', position: 'top', covered: true}">更多选项
                </button>
                <ul class="mdui-menu" id="mc-login-menu">
                    <li class="mdui-menu-item"><a class="mdui-ripple mc-password-reset-trigger">忘记密码</a></li>
                    <li class="mdui-menu-item"><a class="mdui-ripple mc-register-trigger">创建新账号</a></li>
                </ul>
                <button type="submit" class="mdui-btn mdui-btn-raised mdui-color-theme-accent mdui-float-right">登录
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    // var inst = new mdui.Fab('#fab');
</script>
</body>
</html>