<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ url_for('.static', filename='asset/mdui/css/mdui.min.css') }}">
    <script src="{{ url_for('.static', filename='asset/mdui/js/mdui.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='asset/chisec/js/jquery-3.3.1.min.js') }}"></script>
    <title>Personal Center</title>
</head>
<body class=" mdui-appbar-with-toolbar mdui-theme-primary-cyan mdui-theme-accent-orange mdui-loaded mdui-drawer-body-left"
      style="margin-top: 20px;">

<header class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
    <div class="mdui-toolbar mdui-color-cyan">
        <span class="mdui-btn mdui-btn-icon " mdui-drawer="{target: '#main-drawer', swipe: true}"><i
                class="mdui-icon material-icons">menu</i></span>
        <i class="mdui-icon material-icons">person_outline</i>
        <a href="javascript:;" class="mdui-typo-headline">个人中心</a>
        <!-- <a href="javascript:;" class="mdui-typo-title">动态</a> -->
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-textfield mdui-textfield-expandable">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i>
            </button>
            <input class="mdui-textfield-input" type="text" placeholder="Search"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i>
            </button>
        </div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">person</i></a>
    </div>
</header>

<!-- 侧边栏 -->
<div class="mdui-drawer" id="main-drawer">

    <div class="mdui-list">
        <a class="mdui-list-item mdui-ripple" href="/web">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-indigo">home</i>
            <div class="mdui-list-item-content">返回首页</div>
        </a>
        <a class="mdui-list-item mdui-ripple " href="../person">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-cyan">person_pin_circle</i>
            <div class="mdui-list-item-content">个人中心</div>
        </a>

        <a class="mdui-list-item mdui-ripple" href="../person_follow">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-orange">assignment_turned_in</i>
            <div class="mdui-list-item-content">关注</div>
        </a>
        <a class="mdui-list-item mdui-ripple" href="../person_like">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-pink-accent">thumb_up</i>
            <div class="mdui-list-item-content">我赞过的</div>
        </a>
        <a class="mdui-list-item mdui-ripple mdui-list-item-active">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-light-green">assignment</i>
            <div class="mdui-list-item-content">修改资料</div>
        </a>
        <a class="mdui-list-item mdui-ripple" href="../person_about">
            <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple">star</i>
            <div class="mdui-list-item-content">关于</div>
        </a>
    </div>
</div>

<div class="mdui-container">
    <div class="mdui-row">
        <div class=" mdui-col-md-4">
            <h2 class="mdui-text-color-black-secondary" align="center">修改个人资料</h2>
        </div>
    </div>
    <div class="mdui-row">
        <div class=" mdui-col-md-4">
            <div class="mdui-card mdui-hoverable">
                <div class="mdui-card">

                    <!-- 卡片头部，包含头像、标题、副标题 -->
                    <div class="mdui-card-header">
                        <img class="mdui-card-header-avatar"
                             src="{{ url_for('.static', filename='asset/chisec/avator.jpg') }}"/>
                        <div class="mdui-card-header-title" id="username">{{ username }}</div>
                        <div class="mdui-card-header-subtitle">-你是🐉鸣🐎¿-</div>
                    </div>

                    <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
                    <div class="mdui-card-media">
                        <img src="{{ url_for('.static', filename='asset/chisec/card.jpg') }}"/>

                        <!-- share按钮 -->
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i
                                    class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>

                    <!-- 卡片的标题和副标题 -->
                    <div class="mdui-row">
                        <div class="mdui-card-primary mdui-col-md-6">
                            <h4 class="mdui-text-color-black-secondary">性别
                                <div class="mdui-chip">
                                    <span class="mdui-chip-icon"><i class="mdui-icon material-icons">face</i></span>
                                    <span class="mdui-chip-title">男</span>
                                </div>
                            </h4>
                        </div>

                        <div class="mdui-card-primary mdui-col-md-6">
                            <h4 class="mdui-text-color-black-secondary">昵称
                                <div class="mdui-chip">
                                    <span class="mdui-chip-icon"><i class="mdui-icon material-icons">face</i></span>
                                    <span class="mdui-chip-title">Chisec</span>
                                </div>
                            </h4>
                        </div>
                    </div>

                    <div class="mdui-panel" mdui-panel>

                        <div class="mdui-panel-item">
                            <div class="mdui-panel-item-header">完整个人信息</div>
                            <div class="mdui-panel-item-body">
                                <p>用户名：{{ username }}</p>
                                <p>昵称：Chisec</p>
                                <p>性别：男</p>
                                <p>居住地：霍格沃兹</p>
                                <p>邮箱：Chisec@gmail.com</p>
                            </div>
                        </div>

                        <div class="mdui-panel-item">
                            <div class="mdui-panel-item-header">我的频道信息</div>
                            <div class="mdui-panel-item-body">
                                <p>频道名：{{ channel_name }}频道</p>
                                <p>频道号：004</p>
                                <p>订阅人数：12</p>
                            </div>
                        </div>

                        <div class="mdui-panel-item">
                            <div class="mdui-panel-item-header">账号信息</div>
                            <div class="mdui-panel-item-body">
                                <p>是否被禁言：否</p>
                                <p>是否为管理员：是</p>
                                <p>创建时间：{{ create_time }}</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="mdui-col-sm-3">
            <!-- 卡片1 -->
            <div class="mdui-card mdui-hoverable">
                <div class="mdui-toolbar mdui-color-teal-accent">
                </div>

                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">昵称</div>
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" id="nickname"/>
                    </div>
                </div>
            </div>

            <div style="height: 20px"><span style="height: 20px"> </span></div>

            <!-- 卡片2 -->
            <div class="mdui-card mdui-hoverable">
                <div class="mdui-toolbar mdui-color-light-green-accent">
                </div>
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">个性签名</div>
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" id="sign"/>
                    </div>
                </div>
            </div>

            <div style="height: 20px"><span style="height: 20px"> </span></div>

            <!-- 卡片3 -->
            <div class="mdui-card mdui-hoverable">
                <div class="mdui-toolbar mdui-color-orange-accent">
                </div>
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">重设密码</div>
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" id="password"/>
                    </div>
                    <div class="mdui-card-primary-title">重复密码</div>
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input" type="text" id="re_password"/>
                    </div>
                </div>
            </div>
            <div style="height: 20px"></div>

            <div style="position:relative">
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                        style="margin: auto;  position: absolute; left: 0; right: 0;">保存更改
                </button>
            </div>

        </div>

        <div class=" mdui-col-md-3">
            <!-- 卡片4 -->
            <div class="mdui-card mdui-hoverable" style="height: 440px">
                <div class="mdui-toolbar mdui-color-grey">
                </div>
                <div style="height: 290px;">
                    <h3 class="mdui-text-color-black-secondary" align="center">个人卡片背景图片</h3>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-media mdui-card mdui-hoverable">
                            <img src="{{ url_for('.static', filename='asset/chisec/card.jpg') }}"/>
                        </div>
                        <div style="height: 10px"></div>
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">点击上传</button>
                    </div>
                </div>
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">国家/地区
                        <select class="mdui-select" mdui-select="{position: 'top'}">
                            <option value="0">霍格沃兹</option>
                            <option value="1">赛博坦</option>
                            <option value="2">瓦坎达</option>
                            <option value="3">新日暮里</option>
                            <option value="4">3栋501</option>
                            <option value="5">卡塞尔</option>
                            <option value="6">召唤师峡谷</option>
                        </select>
                    </div>
                </div>
            </div>

            <div style="height: 20px"><span style="height: 20px"> </span></div>
            <!-- 卡片5 -->
            <div class="mdui-card mdui-hoverable" style="height: 320px">
                <div class="mdui-toolbar mdui-color-grey">
                </div>
                <div style="height: 170px ; position:relative">
                    <h3 class="mdui-text-color-black-secondary" align="center">个人头像图片</h3>
                    <div style="width:100px;height:100px;margin: auto;  position: absolute; left: 0; right: 0;">
                        <div class="mdui-card-media mdui-card mdui-hoverable">
                            <img id="avatar_show" src="{{ avatar }}"
                                 onclick="upload_avatar_prepare()"/>
                        </div>
                        <div style="height: 10px"></div>
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                onclick="upload_avatar_go()">保存
                        </button>

                    </div>
                </div>
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">性别
                        <select class="mdui-select" mdui-select="{position: 'top'}">
                            <option value="0">未知</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                            <option value="3">女装大佬</option>
                            <option value="4">女汉子</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<form id="upload_avatar_form" enctype='multipart/form-data' method="post">
    <input class="mdui-hidden" id="avatar_file" type="file" name="file">
</form>

<script>
    let upload_avatar_prepare = function () {
        $('#avatar_file').click();
    };

    $('#avatar_file').on('change', function () {
        var objUrl = getObjectURL(this.files[0]);
        $('#avatar_show').attr("src", objUrl);
    });

    let upload_avatar_go = function () {
        let formData = new FormData($('#upload_avatar_form')[0]);
        $.ajax({
            url: "/api/upload_avatar",
            type: "POST",
            data: formData,
            async: true,
            cashe: false,
            contentType: false,
            processData: false,
            dataType: 'json',

            success: function (d) {
                if (0 == d.status) {
                    mdui.alert('上传成功');
                }
            },
            error: function (returndata) {
                alert("上传失败！")
            }

        });
    };

    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

</script>
</body>
</html>